<form action="/profile" method="post" enctype="multipart/form-data">
<input type="text" name="firstName">
<input type="text" name="lastName">
<input type="file" name="avatar">
<button type="submit">Upload</button>
</form>